@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
:root{
  --col1: #F72585;
  --col2: #4361ee;
  --col3: #06d6a0;
  --bg: #131419;
  --light: white;
  --gr1: #4776E6;
  --gr2: #8E54E9;
  --gr3: #F72585;
  --gr4: #ff416c;
  --gr5: #151e34;
  --gr6: #231934;
  --gr7: #c31362;
  --gr8: #cf2d52;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1{
  font-size: 100px;
  color: var(--col1);
}

h2{
  color: var(--light);
}

h3{
  color: var(--light);
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--gr5);  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, var(--gr6), var(--gr5));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, var(--gr6), var(--gr5));
  margin: 50vh auto;
  transform: translateY(-50%);
  overflow: hidden;
}

.styledButton {
  margin-top: 3vh;
  padding: 0 10px;
  outline: none;
  border: none;
  background: var(--gr3);  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, var(--gr4), var(--gr3));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, var(--gr4), var(--gr3)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 8px;
  color: var(--light);
  font-size: 16px;
  transition: ease-in-out 0.1s;
}

.styledButton:hover {
  cursor: pointer;
  background: rgba(var(--gr7),0.6);  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, var(--gr8), var(--gr7));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, var(--gr8), var(--gr7)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: var(--light);
  transform: scale(0.9);
}

.arrow{
  margin-right: 10px;
}